.create {
    font-size: 1.5rem;
}

.form-container {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 30%;
    margin: 0px auto;
    padding: 20px;
}

.anecdote-form {
    text-align: center;
}

h2 {
    margin: 20px 0px 10px!important;
}

button {
    cursor: pointer;
    margin-top: 10px;
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 3px 7px;
    border-radius: 2px;
    font-size: 1rem;
}