@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.notification {
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    border-radius: 5px;
    background-color: orange;
    padding: 3px 5px;
    color: white;
    width: max-content;
    margin: 10px auto;
    text-align: center;
}